
.resume-content, .blog-content{
    margin: 0 2%;
    padding: 2% 0;
}
.resume-title, .blog-title{
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 30px;
}
.resume-title h1, .blog-title h1{
    font-size: 1.5em;
    background: #ed7825;
    position: relative;
    padding: 0 10px 0 50px;
    width: 130px;
    height: 40px;
    line-height: 40px;
    left: -30px;
    color: white;
    z-index: 15555500000;
}

/*creation du petit triangle*/
.resume-title h1:after, .blog-title h1:after{
    content: " ";
    top: 40px;
    right: 182px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid rgba(237, 120, 37, 0.9);
    border-bottom: 7px solid transparent;
    position: absolute;
    /*z-index: 999;*/
}
.resume-title span, .blog-title span{
    position: relative;
    left: -15px;
    opacity: .6;
}
.education, .experience, .design-skill, .download{
    padding: 0 10px 0 20px;
}

.contenu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contenu > *{
    flex: 2;
}
.titre{
    padding: 0 0 30px 0;
}
.edu-items, .experience-items{
    border-left: 1px solid black;
}

/*alignement du contenu skills avec bar de progression*/
.design-skill{
    position: relative;
    margin-right: 50px;
}

.c-skills{
    width: 100%;
    position: relative;
    padding-top: 20px;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.skill{
    border: 1px solid red;
    border-radius: 10px;
    width: 100%;
    height: 10px;
    padding: 2px;
}

/*definition de la barre de progression selon chaque skill*/
.skill .skill-bar{
    background: #ed7825;
    border-radius: 10px;
    height: 10px;
}
/*1. HTML*/
.item1 .skill .skill-bar{
    width: 90%;
}
/*CSS*/
.item2 .skill .skill-bar{
    width: 70%;
}

/*JQuery*/
.item3 .skill .skill-bar{
    width: 60%;
}
/*WordPress*/
.item4 .skill .skill-bar{
    width: 80%;
}
/*PHP*/
.item5 .skill .skill-bar{
    width: 50%;
}

/*pour le design skill*/
/*Web design*/
.d-skills-items .item3 .skill .skill-bar{
    width: 70%;
}
/*graphique design*/
.d-skills-items .item3 .skill .skill-bar{
    width: 60%;
}
/*print design*/
.d-skills-items .item3 .skill .skill-bar{
    width: 50%;
}

/*la forme du titre commun entre education et experience*/
.year{
    background: #7ed957;
    position: relative;
    padding: 0 10px 0 50px;
    width: fit-content;
    height: 30px;
    line-height: 30px;
    left: -5px;
    color: white;
}
.year:after{
    content: " ";
    top: -27px;
    right: 54px;
    border-left: 5px solid transparent;
    border-right: 5px solid #7ed957;
    border-bottom: 5px solid transparent;
    position: relative;
}
.itemGlobal{
    padding: 10px 10px 30px 45px;
    position: relative;
}
.itemGlobal .title{
    font-size:18px;
}
.itemGlobal .subtitle{
    position: relative;
    font-size:15px;
    opacity: 0.6;
    top: -5px;
}
/*petit amelioration de after year dans la partie responsive*/
@media screen and (max-width: 1094px) {
    .experience-items .year:after{
        top: -56px;
    }

}
@media screen and (max-width: 886px){
    .experience-items .year:after{
        top: -25px;
    }

}
@media screen and (max-width: 768px){
    .contenu{
        flex-direction: column;
    }
    .contenu > *{
        flex: 1;
    }
    .design-skill{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .experience{
        margin-top: 20px;
    }

}


/*la division download*/
.download{
    padding-top: 4%;
    padding-bottom: 4%;
    position: relative;
    width: fit-content;
    height: fit-content;

}

.download button{
    border: 2px solid #ed7825;
    height: 40px;
    padding: 0 20px;
    background: white;
    transition: 1s ease-in-out;
}
.download button:hover{
    background: #ed7825;
}
.download button:hover a{
    color: white;
}
.download button a{
    text-decoration: none;
    color: black;
}